body {
    font-family: "hhre", "Inter Semi Bold", "Quicksand", sans-serif;
    font-size: 40px;
    font-weight: 550;
    /*line-height: 1.3;*/
    color: #e5e5e5;
    margin: 0;
    padding: 0;
    background: #e4e4e4;

}

header {
    background: #27272A;
    display: flex;
    flex-direction: row;
    padding-right: 8dvw;
    justify-content: space-between;
}

ul {

    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    text-align: center;
    min-width: 200px;
    padding: 0 25px;
}

@media screen and (min-width: 400px) {
    ul {
        flex-direction: row;
        min-width: 600px;
    }
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    /*color: #fff;*/
    color: #b1b1b1;

    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    /*transition: all 0.4s ease-out;*/
    /*  transition: background-position 275ms ease;*/
    transition: 75ms linear; /* Время изменения */


    border-bottom: 4px solid #27272A;
    padding: 20px 35px;
}


.nav__link::after {

    /*content: "";*/
    /*position: absolute;*/
    /*height: 6px;*/
    /*background-color: #52525B;*/

}

.nav__link:hover {
    color: #ffffff;
    /*color: #71717A;*/
    border-bottom: 4px solid #ffffff;
    padding-bottom: 20px;
    /* добавляем рамку снизу */
}

.nav__link:hover::after {
    /*width: 100%;*/
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

}

.icon {
    margin: auto 20px;
}

.current-link {
    color: #ffffff;

    /*text-decoration: underline;*/
    /*text-decoration-color: #52525B;*/
    /* нивелируем размеры рамки */

    padding-bottom: 20px;
    /* добавляем рамку снизу */
    border-bottom: 4px solid;
    /*background-color: #52525B;*/

}

.main-wrapper  {
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    /*background: white;*/
    align-items: center;
}

.main  {
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;

    /*background: white;*/
    /*max-width: 80%;*/

}

.range input {margin-top:10%;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(180deg);}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #27272A;
    /*margin: 1em 0;*/
    margin: 8px 0px;
    padding: 0;

}

.block {
    color: #27272A;
    padding: 15px;
    font-size: 22px;
    margin-top: 10px;
    min-height: 70px;
    background: white;
    border-radius: 3px;
    min-width: 320px;
    width: 30svw;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/


    /*padding-left: 20px;*/
}
.block-mode {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.block-title {
    margin-bottom: 15px;
}
.block-title-t {
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 25px;
}

.state {
    margin-left: 10px;
}

.state-wet {
    color: crimson;
}
.state-dry {
    color: lightgreen;
}


