<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WUC system</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-toggle.css') }}">
</head>
<body>
<header>
    <div class="icon">WUC <span id="t-system">system</span></div>
    <!--    <ul>-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link current-link">Главная</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Настройки</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Фильтр</a></li>&ndash;&gt;-->

    <!--    </ul>-->
    <div><a href="/settings" class="nav__link">Settings</a></div>

</header>
<div class="main-wrapper">
    <div class="main">
        <div class="places">
            <div class="block" hidden>
                <div class="block-title">
                    <!--                <span class="block-title-p">Местонахождение: </span>-->
                    <span class="block-title-t">ванная</span>
                    <hr>
                </div>

                <div class="block-mode">
                    <span>Состояние: </span>
                    <span class="state state-dry" hidden>ПРОТЕЧКИ НЕТ</span>
                    <span class="state state-wet">ПРОТЕЧКА</span>

                </div>
                <div class="block-mode">
                    <span>Отслеживание: </span>
                    <span>
                    <input class="tgl tgl-skewed" id="cb3" type="checkbox"/>
                    <label class="tgl-btn" data-tg-off="выкл" data-tg-on="вкл" for="cb3"></label>
                </span>

                </div>

            </div>
        </div>
        <!--        <a href="#">Hi</a>-->
        <!--        <br>-->
        <!--        <div class="range"><input type="range" value="25" min="0" max="50" oninput="rangeValue.innerText = this.value">-->
        <!--            <p id="rangeValue">25</p></div>-->
        <!--        <br>-->
        <!--        <div class="range">-->
        <!--            <input type="range" min="0" max="50" value="0" id="range2" class="range-input"/>-->
        <!--            <div class="value2">0</div>-->
        <!--        </div>-->
    </div>
</div>
<script>
    function CreateRequest() {
        var Request = false;

        if (window.XMLHttpRequest) {
            //Gecko-совместимые браузеры, Safari, Konqueror
            Request = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            //Internet explorer
            try {
                Request = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (CatchException) {
                Request = new ActiveXObject("Msxml2.XMLHTTP");
            }
        }

        if (!Request) {
            alert("Невозможно создать XMLHttpRequest");
        }

        return Request;
    }

    /*
Функция посылки запроса к файлу на сервере
r_method  - тип запроса: GET или POST
r_path    - путь к файлу
r_args    - аргументы вида a=1&b=2&c=3...
r_handler - функция-обработчик ответа от сервера
*/
    function SendRequest(r_method, r_path, r_args, r_handler) {
        //Создаём запрос
        var Request = CreateRequest();

        //Проверяем существование запроса еще раз
        if (!Request) {
            return;
        }

        //Назначаем пользовательский обработчик
        Request.onreadystatechange = function () {
            //Если обмен данными завершен
            if (Request.readyState == 4) {
                //Передаем управление обработчику пользователя
                r_handler(Request);
            }
        }

        //Проверяем, если требуется сделать GET-запрос
        if (r_method.toLowerCase() == "get" && r_args.length > 0)
            r_path += "?" + r_args;

        //Инициализируем соединение
        Request.open(r_method, r_path, true);

        if (r_method.toLowerCase() == "post") {
            //Если это POST-запрос

            //Устанавливаем заголовок
            Request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
            //Посылаем запрос
            Request.send(r_args);
        } else {
            //Если это GET-запрос

            //Посылаем нуль-запрос
            Request.send(null);
        }
    }

    function send_json(url, data) {
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(data));
    }
    let category = "home"
    let url = "";
    let places_h = document.getElementsByClassName('places')[0];
    let places = new Map();

    function set_enabled(element, id) {
        send_json(url + "update_data", {"set_enabled": [{"id": id, "enabled": element.checked}], "category": category})
    }

    function update() {


        SendRequest("GET", url + "/get_data", "", (function (req) {
            console.log(req);
            let responsedata = eval(`(${req.responseText})`);
            let newHTML = "";
            for (let element of responsedata["data"]) {
                console.log(element["title"]);
                let title = element["title"];
                let state_wet = "hidden";
                if (element["state"] === "wet")
                    state_wet = "";
                let state_dry = "hidden";
                if (element["state"] === "dry")
                    state_dry = "";
                let enabled = "";
                if (element["enabled"])
                    enabled = "checked";

                let id = element["id"];
                let block = `<div class="block">
                <div class="block-title">
                    <!--                <span class="block-title-p">Местонахождение: </span>-->
                    <span class="block-title-t">${title}</span>
                    <hr>
                </div>

                <div class="block-mode">
                    <span>Состояние: </span>
                    <span class="state state-dry" ${state_dry}>ПРОТЕЧКИ НЕТ</span>
                    <span class="state state-wet" ${state_wet}>ПРОТЕЧКА</span>

                </div>
                <div class="block-mode">
                    <span style="margin-top: 4px">Отслеживание: </span>
                    <span>
                    <input class="tgl tgl-skewed" id="checkbox${id}" type="checkbox" ${enabled} onchange='set_enabled(this, ${id})'/>
                    <label class="tgl-btn" data-tg-off="выкл" data-tg-on="вкл" for="checkbox${id}"></label>
                </span>

                </div>

            </div>`;

               newHTML += block;
            }
            places_h.innerHTML = newHTML;



        }));
    }

    update();
    setInterval(update, 5000);

</script>

</body>
</html>