<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WUC system</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-toggle.css') }}">
</head>
<body>
<header>
    <div class="icon">WUC <span id="t-system">system</span></div>
    <!--    <ul>-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link current-link">Главная</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Настройки</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Фильтр</a></li>&ndash;&gt;-->

    <!--    </ul>-->
    <div><a href="/" class="nav__link">Home</a></div>

</header>
<div class="main-wrapper">
    <div class="main">
        <div class="places">

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Режим работы</span>
                    <hr>
                </div>
                <div>
                    <form action="">
                        <fieldset>
                            <label class="mode-radio-label">
                                <input type="radio" name="work-mode" value="auto" id="auto-mode" checked>
                                Автоматический
                            </label>
                            <label class="mode-radio-label">
                                <input type="radio" name="work-mode" value="hand" id="hand-mode">
                                Ручной
                            </label>
                        </fieldset>
                        <button type="submit" class="submit">сохранить</button>
                    </form>
                </div>

            </div>

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Тестирование</span>
                    <hr>
                </div>
                <div class="log-view scrollbar">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    aliquam erat volutpat.
                </div>
                <button class="submit">начать</button>
            </div>

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Логирование</span>
                    <hr>
                </div>
                <div class="log-view scrollbar">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren,
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    aliquam erat volutpat.
                </div>
                <button class="submit">скачать весь</button>
            </div>

        </div>

    </div>
</div>
<script>
    function CreateRequest() {
        var Request = false;

        if (window.XMLHttpRequest) {
            //Gecko-совместимые браузеры, Safari, Konqueror
            Request = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            //Internet explorer
            try {
                Request = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (CatchException) {
                Request = new ActiveXObject("Msxml2.XMLHTTP");
            }
        }

        if (!Request) {
            alert("Невозможно создать XMLHttpRequest");
        }

        return Request;
    }

    /*
Функция посылки запроса к файлу на сервере
r_method  - тип запроса: GET или POST
r_path    - путь к файлу
r_args    - аргументы вида a=1&b=2&c=3...
r_handler - функция-обработчик ответа от сервера
*/
    function SendRequest(r_method, r_path, r_args, r_handler) {
        //Создаём запрос
        var Request = CreateRequest();

        //Проверяем существование запроса еще раз
        if (!Request) {
            return;
        }

        //Назначаем пользовательский обработчик
        Request.onreadystatechange = function () {
            //Если обмен данными завершен
            if (Request.readyState == 4) {
                //Передаем управление обработчику пользователя
                r_handler(Request);
            }
        }

        //Проверяем, если требуется сделать GET-запрос
        if (r_method.toLowerCase() == "get" && r_args.length > 0)
            r_path += "?" + r_args;

        //Инициализируем соединение
        Request.open(r_method, r_path, true);

        if (r_method.toLowerCase() == "post") {
            //Если это POST-запрос

            //Устанавливаем заголовок
            Request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
            //Посылаем запрос
            Request.send(r_args);
        } else {
            //Если это GET-запрос

            //Посылаем нуль-запрос
            Request.send(null);
        }
    }

    function send_json(url, data) {
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(data));
    }

    var url = "";
    var places_h = document.getElementsByClassName('places')[0];
    var places = new Map();

    function set_enabled(element, id) {
        send_json(url + "update_data", {"set_enabled": {"id": id, "enabled": element.checked}})
    }

    function update() {


        SendRequest("GET", url + "/get_data", "", (function (req) {
            console.log(req);
            var responsedata = eval(`(${req.responseText})`);
            var newHTML = "";
            for (let element of responsedata["data"]) {
                console.log(element["title"]);
                var title = element["title"];
                if (element["state"] === "wet")
                    var state_wet = "";
                else
                    var state_wet = "hidden";
                if (element["state"] === "dry")
                    var state_dry = "";
                else
                    var state_dry = "hidden";
                if (element["enabled"])
                    var enabled = "checked";
                else
                    var enabled = "";

                var id = element["id"];
                var block = `<div class="block">
                <div class="block-title">
                    <!--                <span class="block-title-p">Местонахождение: </span>-->
                    <span class="block-title-t">${title}</span>
                    <hr>
                </div>

                <div class="block-mode">
                    <span>Состояние: </span>
                    <span class="state state-dry" ${state_dry}>ПРОТЕЧКИ НЕТ</span>
                    <span class="state state-wet" ${state_wet}>ПРОТЕЧКА</span>

                </div>
                <div class="block-mode">
                    <span>Отслеживание: </span>
                    <span>
                    <input class="tgl tgl-skewed" id="checkbox${id}" type="checkbox" ${enabled} onchange='set_enabled(this, ${id})'/>
                    <label class="tgl-btn" data-tg-off="выкл" data-tg-on="вкл" for="checkbox${id}"></label>
                </span>

                </div>

            </div>`;

                newHTML += block;
            }
            places_h.innerHTML = newHTML;


        }));
    }

    // update();
    // setInterval(update, 5000);

</script>

</body>
</html>