<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WUC system</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-toggle.css') }}">
</head>
<body>
<header>
    <div class="icon">WUC <span id="t-system">system</span></div>
    <!--    <ul>-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link current-link">Главная</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Настройки</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li><a href="#" class="nav__link">Фильтр</a></li>&ndash;&gt;-->

    <!--    </ul>-->
    <div><a href="/" class="nav__link">Home</a></div>

</header>
<div class="main-wrapper">
    <div class="main">
        <div class="places">

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Режим работы</span>
                    <hr>
                    <fieldset class="">
                        <label class="mode-radio-label">
                            <input type="radio" name="work-mode" value=0 id="auto-mode"> Автоматический
                        </label>
                        <label class="mode-radio-label">
                            <input type="radio" name="work-mode" value=1 id="hand-mode"> Ручной
                        </label>
                    </fieldset>

                    <hr>
                    <div class="fieldset">
                        <div class="block-mode">
                            <span style="margin-top: 4px">Состояние крана: </span>
                            <span id="tap">
<!--                            <input class="tgl tgl-skewed" id="checkbox-tap" type="checkbox" onchange='set_tap(this)' style="background: rgba(0,220,0,0.5);"/>-->
                                <!--                            <label class="tgl-btn" data-tg-off="ЗАКРЫТ" data-tg-on="ОТКРЫТ" for="checkbox-tap" style="background: rgba(0,220,0,0.5);"></label>-->
                            </span>
                        </div>
                    </div>
                    <button onclick="update_settings()" class="submit">сохранить</button>

                </div>
            </div>

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Тестирование</span>
                    <hr>
                </div>
                <div class="log-view scrollbar" name="test-text"></div>
                <button class="submit" onclick="start_testing()">начать</button>
            </div>

            <div class="block">
                <div class="block-title">
                    <span class="block-title-t">Логирование</span>
                    <hr>
                </div>
                <div class="log-view scrollbar" name="log-text"></div>
                <a class="submit" href="/uploads/logs.txt" download="logs.txt" style="line-height: 1.5em">скачать
                    весь</a>
            </div>

        </div>

    </div>
</div>
<script>
    function CreateRequest() {
        var Request = false;

        if (window.XMLHttpRequest) {
            //Gecko-совместимые браузеры, Safari, Konqueror
            Request = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            //Internet explorer
            try {
                Request = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (CatchException) {
                Request = new ActiveXObject("Msxml2.XMLHTTP");
            }
        }

        if (!Request) {
            alert("Невозможно создать XMLHttpRequest");
        }

        return Request;
    }

    /*
Функция посылки запроса к файлу на сервере
r_method  - тип запроса: GET или POST
r_path    - путь к файлу
r_args    - аргументы вида a=1&b=2&c=3...
r_handler - функция-обработчик ответа от сервера
*/
    function SendRequest(r_method, r_path, r_args = "", r_handler = null) {
        //Создаём запрос
        var Request = CreateRequest();

        //Проверяем существование запроса еще раз
        if (!Request) {
            return;
        }
        if (r_handler != null) {
            //Назначаем пользовательский обработчик
            Request.onreadystatechange = function () {
                //Если обмен данными завершен
                if (Request.readyState == 4) {
                    //Передаем управление обработчику пользователя
                    r_handler(Request);
                }
            }
        }
        //Проверяем, если требуется сделать GET-запрос
        if (r_method.toLowerCase() == "get" && r_args.length > 0)
            r_path += "?" + r_args;

        //Инициализируем соединение
        Request.open(r_method, r_path, true);

        if (r_method.toLowerCase() == "post") {
            //Если это POST-запрос

            //Устанавливаем заголовок
            Request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=utf-8");
            //Посылаем запрос
            Request.send(r_args);
        } else {
            //Если это GET-запрос

            //Посылаем нуль-запрос
            Request.send(null);
        }
    }

    function send_json(url, data) {
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(data));
    }

    const MODE_AUTO = 0;
    const MODE_HAND = 1;

    let first = true;
    let category = "settings"
    let url = "";
    let work_mode_checks = document.getElementsByName('work-mode');
    let test_text = document.getElementsByName('test-text')[0];
    let log_text = document.getElementsByName('log-text')[0];
    let tap = document.getElementById("tap");
    let places = new Map();

    function set_tap(element) {
        set_work_mode(MODE_HAND);
        send_json(url + "/update_settings", {"name": "tap_state", "value": Number(element.checked)})
        update_settings();
    }

    function start_testing() {
        SendRequest("GET", url + "/start_testing", "", update)
    }

    function set_work_mode(mode) {
        for (let checker of work_mode_checks)
            checker.checked = (checker.value == mode);
    }

    function update_settings() {
        let work_mode = "0";
        for (let checker of work_mode_checks)
            if (checker.checked)
                work_mode = checker.value;
        send_json(url + "/update_settings", {"name": "work_mode", "value": parseInt(work_mode)})
    }

    function update() {
        SendRequest("GET", url + "/get_settings", "", (function (req) {
            console.log(test_text.innerHTML);
            let responsedata = eval(`(${req.responseText})`)["data"];
            if (first) {
                set_work_mode(responsedata["work_mode"]);
            }
            test_text.innerHTML = responsedata["testing_text"];
            log_text.innerHTML = responsedata["logging_text"];
            first = false;
            let tap_checked = responsedata["tap_state"] ? "checked" : "";
            tap.innerHTML = `<input class="tgl tgl-skewed" id="checkbox-tap" type="checkbox" onchange='set_tap(this)' ${tap_checked}/>
                            <label class="tgl-btn" data-tg-off="ЗАКРЫТ" data-tg-on="ОТКРЫТ" for="checkbox-tap"></label>`
            // tap.classList.add('notransition');
            // tap.checked = Boolean(responsedata["tap_state"]);
            // tap.offsetHeight;
            // tap.classList.remove('notransition');


        }));
    }

    update();
    setInterval(update, 5000);

</script>

</body>
</html>